# Dependencies
**/dist
# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# VS Code
.vscode/*
.github/*

# Copilot
!.github/copilot.yml
!.vscode/settings.json

# .env files
.env
.env.local
!example.env